{% extends  'base.html.twig'%}

{% block title %} Check our {{ title }}{% endblock %}
{% block body %}
{#comment#}

<h1>{{ title }}</h1>
<h2>Amount of form fields: {{ amount|length }} </h2>
<ul>
    {% for amount in amount %}
        <li>{{ amount }}</li>
    {% endfor %}
</ul>

<h2 id="twig-basics" class="headline"><a href="#twig-basics" title="Permalink to this headline">Twig Basics</a></h2>

<p><span class="subs-paragraph" data-start-time="75.866">If you're new to Twig, welcome! </span>
    <span class="subs-paragraph" data-start-time="80.256">You're going to <em>love</em> it! </span>
    <span class="subs-paragraph" data-start-time="82.746">Twig only has <em>2</em> syntaxes. </span>
    <span class="subs-paragraph" data-start-time="85.146">The first is  </span>
    <span class="subs-paragraph" data-start-time="88.746">I call this the "say something" tag, because it <em>prints</em>. </span><span class="subs-paragraph" data-start-time="93.456">And just like PHP, you can print anything: a variable, a string or a complex expression.</span></p>

{% endblock %}