{% extends  'base.html.twig'%}
{% block title %} Framework Course{% endblock %}
{% block body %}
{#comment#}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username}}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<h1>Welcome to our Service Page</h1>


<p><span class="subs-paragraph" data-start-time="75.866">If you're visiting us for a first time, welcome! </span>
    <span class="subs-paragraph" data-start-time="80.256">Our service is available only for  <em>registered</em> users! </span>
    <span class="subs-paragraph" data-start-time="82.746">If you already has an account please go to our <em><a href="{{ path('app_login') }}">Login section</a></em>  </span></p>
   <p> <span class="subs-paragraph" data-start-time="88.746">If you still do not have an account please  <em><a href="{{ path('app_register') }}">register</a></em>    for our services. </span></p>
{% endblock %}